<h4 class="my-h4">Update Redeemer</h4>

{{# if errors }}
  <p class="alert alert-danger">
      {{# each errors }}
            {{ this.msg }} </br>
      {{/each}}
  </p>
{{/if}}

{{# if message }}
  <p class="alert alert-success">
      {{ message }} </br>
  </p>
{{/if}}
{{ redeemer }}
<form method="post" action="/redeemers/{{ redeemer._id }}/edit">
<div class="col-md-5">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" value="{{ redeemer.name }}" name="name" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" value="{{ redeemer.email }}" name="email" placeholder="Email ID">
  </div>
  
  <button type="submit" class="btn btn-default">Update</button>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label>Contact No.</label>
      <input type="phone" class="form-control" value="{{ redeemer.contact }}" name="contact" placeholder="Contact Number">
    </div>
  <div class="form-group">
    <label>Address</label>
    <input type="phone" class="form-control" value="{{ redeemer.address }}" name="address" placeholder="Address">
  </div>
  </div>
</form>
