  				<div class="panel-heading">
					<h4>Redeemers List</h4>
					<a href="/redeemers/create">Create Redeemers</a>
				</div>
  				<div class="panel-body">
					
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>_id</th>
								<th>Name</th>
								<th>Email</th>
								<th>Contact</th>
								<th>Address</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{{# if redeemers }}
								{{# each redeemers }}
										<tr class="odd gradeX">
											<td>{{ this._id }}</td>
											<td>{{ this.name }}</td>
											<td>{{ this.email }}</td>
											<td>{{ this.contact }}</td>
											<td class="center">{{ this.address }}</td>
											<td class="center">
												<a href="redeemers/{{ this._id }}/edit">Edit</a> |
												<a href="#">Delete</a>
											</td>
										</tr>
								{{/each}}
							{{/if}}
						</tbody>
					</table>
  				</div>